<!-- src/Navbar.svelte -->

<script>
    import '../tailwind.css';
    import { Router, Link, Route } from "svelte-routing";
    import Homepage from '../index.svelte';
    import SignIn from '../SignIn.svelte';
    import Account from '../Account.svelte';
    import Logout from '../Logout.svelte';
    import {pb, currentUser } from '../pocketbase.ts'
    // Import other components here, e.g., Login, Account

    export let url = '/';

</script>


<Router {url}>
    <nav class="bg-gray-800 p-4 fixed w-full top-0">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between">
                <div class="flex items-center">
                    <div class="flex items-center space-x-4">
                        <Link to="/" class="px-3 py-2 rounded-md text-sm font-medium text-white">Home</Link>
                    </div>
                    <div class="flex items-center space-x-4">
                        {#if $currentUser}
                            <Link to="/account" class="px-3 py-2 rounded-md text-sm font-medium text-white">Account</Link>
                        {:else }
                            <Link to="/signin" class="px-3 py-2 rounded-md text-sm font-medium text-white">Login</Link>
                        {/if}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div>
        <Route path="/account" component={Account} />
        <Route path="/signin" component={SignIn} />
        <Route path="/logout" component={Logout} />
        <Route path="/"><Homepage /></Route>
    </div>
</Router>