<!-- src/Account.svelte -->

<script>
    import {navigate} from 'svelte-routing';
    import {onMount} from 'svelte';
    import './tailwind.css';
    import {pb, currentUser} from './pocketbase.ts';
    import SignIn from "./SignIn.svelte";

    // Placeholder user data for demonstration
    const user = $currentUser;

    const username = $currentUser.name || $currentUser.username;

    function handleLogoutClick() {
        navigate('/logout');
    }

    // Function to fetch and set user data after successful authentication
    async function fetchUserData() {
        try {
            // Assuming Pocketbase provides a method to get the authenticated user's data
            // Replace "YOUR_POCKETBASE_API_KEY" with your actual Pocketbase API key
            console.log($currentUser);
            console.log("Record ID: "+ $currentUser.id)

            console.log("Getting User info about OAuth...")
            const result = await pb.collection('users').listExternalAuths(
                pb.authStore.model.id
            );

            console.log(result);
        } catch (error) {
            console.error("Error fetching user data:", error);
            // You might want to handle the error here, e.g., redirect to the Sign In page
        }
    }

    onMount(() => {
        // Fetch user data when the component is mounted
        fetchUserData();
    });
</script>



{#if $currentUser}
    <main class="min-h-screen flex items-center justify-center bg-gray-100">
        <div class="max-w-md w-full p-6 bg-white rounded-lg shadow-lg">
            <h1 class="text-3xl font-semibold mb-6">Account Details</h1>
            <div class="space-y-4">
                <p class="font-semibold">Name: <span>{user.name}</span></p>
                <p class="font-semibold">Username: <span>{username}</span></p>
                <p class="font-semibold">Email: <span>{user.email}</span></p>
                <!-- Add other user properties here -->
            </div>
            <p class="mt-4 text-gray-600">
                <button class="text-blue-500" on:click={handleLogoutClick}>Logout</button>
            </p>
        </div>
    </main>
{:else}
    <SignIn />
{/if}