<!-- src/AppRouter.svelte -->

<script>
  import Navbar from './lib/Navbar.svelte';
  import Homepage from  './index.svelte';
  import {currentUser} from "./pocketbase.ts";
</script>

<style>
  /* Add some padding to the main element */
  main {
    padding-top: 4rem; /* You can adjust this value as needed */
  }
</style>

<main>
  <Navbar />
</main>