<!-- src/AppRouter.svelte -->

<script>
    import { Router, Link, Route } from "svelte-routing";
    import Homepage from './index.svelte';
    import SignIn from './SignIn.svelte';
    // Import other components here, e.g., Login, Account

    export let url = '/';
</script>

<Router {url}>
    <nav>
        <Link to="/">Home</Link>
        <Link to="/signin">Account</Link>
    </nav>
    <div>
        <Route path="/signin" component={SignIn} />
        <Route path="/"><Homepage /></Route>
    </div>
</Router>

<style>
    nav {
        background-color: #333;
        color: #fff;
        padding: 1rem;
    }
</style>
