<!-- src/routes/index.svelte -->
<script lang="ts">
	import { onMount } from "svelte";
	import {currentUser} from "./pocketbase.ts";

</script>

<main>
	<div class="container mx-auto p-6">
		<div class="text-center">
			{#if $currentUser}
				<p class="text-4xl font-bold mb-4">Howdy {$currentUser.name}!</p>
			{:else}
				<p class="text-4xl font-bold mb-4">Howdy guest!</p>
			{/if}
		</div>
	</div>
</main>
