<script>
    import {onMount} from "svelte";
    import { navigate } from "svelte-routing";
    import {pb, currentUser} from "./pocketbase.ts";

    console.log("Logging out");
    console.log($currentUser)

    function handleLogout() {
        pb.authStore.clear();
        navigate("/");
    }
</script>

<main class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="max-w-md w-full p-6 bg-white rounded-lg shadow-lg">
        <h1 class="text-3xl font-semibold mb-6">Logout</h1>
        <p class="text-gray-700">Are you sure you want to log out?</p>
        <button class="mt-4 px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600" on:click={handleLogout}>
            Logout
        </button>
    </div>
</main>

{#if $currentUser}
    <p>Current user: {$currentUser.email}</p>
{:else}
    <p>No current user</p>
{/if}