<!-- src/SignIn.svelte -->

<script>
    import { navigate} from "svelte-routing";
    import './tailwind.css';
    import {pb, currentUser} from './pocketbase.ts';
    import Account from "./Account.svelte";
    import { toast } from '@zerodevx/svelte-toast'




    // Function to handle SSO authentication
    async function handleSSO(provider) {
        try {
            const user = await pb.collection('users').authWithOAuth2({ provider: provider });

            // The user is authenticated; you can handle the user data as needed
            navigate("/account")

            const record = await pb.collection('users').update($currentUser.id, {
                usedSSO: true,
                provider: provider,
            });

            console.log(record);
        } catch (error) {
            console.error("SSO authentication failed:", error);
        }
    }
</script>

{#if $currentUser}
    <Account/>
    {:else }
    <main class="min-h-screen flex items-center justify-center bg-gray-100">
        <div class="max-w-md w-full p-6 bg-white rounded-lg shadow-lg">
            <h1 class="text-3xl font-semibold mb-6">Sign In</h1>
            <div class="space-y-4">
                <!-- Add your SSO buttons here with click handlers -->
                <button class="w-full bg-blue-500 text-white font-semibold px-4 py-2 rounded" on:click={() => handleSSO("discord")}>
                    Sign In with Discord
                </button>
                <button class="w-full bg-green-500 text-white font-semibold px-4 py-2 rounded" on:click={() => handleSSO("gitlab")}>
                    Sign In with Gitlab
                </button>
                <button class="w-full bg-orange-500 text-white font-semibold px-4 py-2 rounded" on:click={() => handleSSO("google")}>
                    Sign In with Google
                </button>
                <!-- Add more SSO buttons if needed -->
            </div>
            <p class="mt-4 text-gray-600">
                Don't have an account? <a href="/signup" class="text-blue-500">Sign Up</a>
            </p>
        </div>
    </main>
{/if}